
<%- include('partials/_header'); -%>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0">
    <h1 class="display-3">Form Cachuelos</h1>
</div>

<div class="container" style="margin-top: 30px;">
  
        <div class="row">
                <!--FORM-->
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <form action="/add-form-cachuelos" method="POST">
                        <div class="form-group">
                          <label for="position">Oficio</label>
                          <input class="form-control" type="text" name="position" placeholder="" id="position" value="" required>
                          
                          <label for="district">Distrito</label>
                          <select class="form-control form-control-sm" id="district" name="district" value="" required>
                            <option></option>
                              <% for(var i=0; i < distr.length; i++){%>
                            <option><%= distr[i].district %></option>
                            <% } %>
                          </select>
                          
                          <label for="contact">Persona de Contacto</label>
                          <input class="form-control" type="text" name="contact" placeholder="" id="contact" value="" required>

                          <label for="cellphone">Numero de Celular</label>
                          <input class="form-control " type="text" name="cellphone" placeholder="" id="cellphone" value="" required>

                          <label for="posting_date">Fecha de publicacion (DD/MM/AAAA)</label>
                          <input class="form-control " type="text" name="posting_date" placeholder="" id="posting_date" value="" required>

                          <label for="description">Descripcion del cachuelo</label>
                          <input class="form-control " type="text" name="description" placeholder="" id="description" value="" required>

                        </div>
                        <button class="btn btn-primary btn-block " type="submit">Guardar</button>
                      </form>
                    </div>
                  </div>
                </div>
                 <!-- to the right text-->
            
              </div>       
            </div>

<%- include('partials/_footer'); -%>
              


