<%- include('partials/_header'); -%>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0">
    <h1 class="display-3">Log out</h1>
</div>

<%- include('partials/_footer'); -%>