</body>
 
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 ">

        <!-- Footer Elements -->
        <div class="container text-center">
      
          <!-- Grid row-->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">
      
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/buscotrabajoperuano/" target="blank">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Twitter 
                <a class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                -->
                <!-- Google +-->
            
                <!--Linkedin -->
    
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/bchperuconsulting/" target="blank">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" > </i>
                </a>
                <!--Blogger-->
                <a href="https://bchpeconsultoria.blogspot.com/" target="blank">
                <i class="fab fa-blogger-b mr-md-5 mr-3 fa-2x"></i>
              </a>
              </div>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
      
        </div>
        <!-- Footer Elements -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"> © 2019 Copyright - BCHPE Consulting </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
<!-- 
<footer>
    <div class="footer-copyright text-center py-3 sticky-bottom"> © 2019 Copyright - BCHPE Consulting </div>
    
</footer>
  -->
</html>

